{% extends 'main.html' %}
{% load static %}
{% block content %}
<html>
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover({
                placement : 'right'
            });
        });
        </script>

<center> <h1><i>Mechanical</i></h1></head>

<div class="box text-left" class="rounded">
 <div class="card" style="max-width: 500px;">
    <div class="row no-gutters">
        <div class="col-sm-5" style="background: #868e96;">
            <img src= "{% static 'mech.jpg' %}"class="card-img-top h-100" alt="...">
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">HOD</h5>
                <div class="bs-example">
                    <div class="popover-demo mb-2">
                        <button type="button" class="btn btn-primary" data-toggle="popover" title="HOD details" data-content="Name:hod Age:49 Qualification:Phd Experience:12+yrs">view details</button>
                </div>
                </div>
                </div>
        </div>
    </div>
</div>
</div>
<h2><p><i>faculty details:</i></h2></p>
<table class="table">
    <thead class="thead-light">
        <tr>

            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Designation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Clark</td>
            <td>Kent</td>
            <td>clarkkent@mail.com</td>
            <td>HOD</td>
        </tr>
        <tr>
            <td>John</td>
            <td>Carter</td>
            <td>johncarter@mail.com</td>
            <td>Assosiative Proficer</td>
        </tr>
        <tr>
            <td>Peter</td>
            <td>Parker</td>
            <td>peterparker@mail.com</td>
            <td>Assosiative Proficer</td>
        </tr>  
           <tr>
               <td></td>
               <td></td>
               <td></td>
               <td></td>
           </tr>  
    </tbody>
</table>
<center><h3><i>Student achievements</i></h3></center>
<div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            achievement1
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            Name:P.sai </br>
            Branch:MECHANICAL </br>
            Year:4</br>
            got internship in Royal Enfield

  
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            achievement2
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          
            Name:K.Surya</br>
            Branch:MECHANICAL</br>
            Year:4 </br>
            Got 1st place in national level TechQuiz 
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            achievement3
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            Name:K.Sai </br>
            Branch:MECHANICAL</br>
            Year:3 </br>
            Got selected for internship in AUDI
        </div>
      </div>
    </div>
  </div>


<h3>Events and workshops:</h3>



<i>28-2-2017 to 9-3-2017:IBM trainings</i></br>
<i>14-2-2017:1day work shop on boosttrap organizesd by CSE and IT depertments</i></br>
<i>3-12-2016: seminar on software testing by Mr siva balaji</i></br>
<i>17-09-2017to 25-09-2017 :work shop on HTML</i></br>

<h3>industrial visits:</h3>


<i>3-2-2017:IBM industrial visit</br>
<i>17-12-2015:IBM industrial vist</br>




 

{% endblock  %}

