<center><h1>welcome to college community</h1></center>
{% for u in users %}
<!DOCTYPE html> 
<html lang="en"> 
<head>
	<meta charset="utf-8"> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
	
	<script src= 
"https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> 
	</script> 
	
	<script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
	</script> 
	
	<script src= 
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
	</script> 
	
	
    <style>
        p,h6 {
  text-align: left;
}
    </style>
</head> 

<body >  
        <span class="border border-dark">
            <center>
			<div class="card col-md-4" > </br>
                <h6 class="card-title" >By:{{u.mail }}</h6>
                <p>At:{{u.uploaded_at }}</p>           
				<img class="card-img-top" src="{{u.image.url }}" > 
				<div class="card-body">  
					<p class="card-text">{{u.text }}</p> 
                </div> 
            </div>
        </center>
        </span>	
    	
</body> 
</html>					 

  {% endfor %}
